@font-face {
    font-family: Calluna Sans;
    src: url(/public/fonts/CallunaSansRegular-webfont.woff)
}
@font-face {
    font-family: 'QLab 3 Icons';
    src: url(/public/fonts/QLab3Icons-Regular.otf)
}
.cueTable {
    font-family: Calluna Sans;
    border-collapse:collapse;
}
th.cuesHeader {
    font-size:9.5pt;
    text-transform: uppercase;
}
td.activeSelector {
    width:26pt;
}
th.activeSelector {
    width:26pt;
}
td.type {
    width:18pt;
}
th.type {
    width:18pt;
}
td.number {
    font-size:10pt;
    width:30pt;
    text-align:center;
}
th.number {
    width:30pt;
}
td.indent {
    width:11.25pt;
}
th.indent {
    width:11.25pt;
    text-align:left;
}
td.cueName {
    font-size:10pt;
    width:135pt;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width:135pt;
}
th.cueName {
    width:135pt;
    text-align:left;
}
td.target {
    font-size:9pt;
    width:72pt;
    text-align: center;
}
th.target {
    width:72pt;
}
td.preWait {
    font-size:9pt;
    width:66pt;
    text-align:center;
}
th.preWait {
    width:66pt;
}
td.action {
    font-size:9pt;
    width:66pt;
    text-align:center;
}
th.action {
    width:66pt;
}
td.postWait {
    font-size:9pt;
    width:66pt;
    text-align:center;
}
th.postWait {
    width:66pt;
}
td.autoContinue {
    width:16pt;
}
th.autoContinue {
    width:16pt;
}
.qicons {
    font-size:13pt;
    font-family: 'QLab 3 Icons';
    text-align:center;
    baseline-shift: 1pt;
}
th.qicons {
    font-size:13pt;
}
tbody.striped > tr:nth-child(even) {
    background-color: rgba(0,0,0,0.07)
}
tbody.striped > tr > td {
    padding:0;
}
.roundedSquare {
    border:0.5pt solid black;
    border-radius:4pt;
    text-align: center;
    white-space: nowrap;
}
.inline {
    display: inline-block;
}
.indent-0 {
    border-left: 1pt solid green;
}
.indent-1 {
    border-left: 1pt solid red;
}
.indent-2 {
    border-left: 1pt solid blue;
}
.indent-end-1 {
    border-bottom: 1pt solid green;
}
.indent-end-2 {
    border-bottom: 1pt solid red;
}
.indent-end-3 {
    border-bottom: 1pt solid blue;
}
.group-start-1 {
    border-left: 1pt solid green;
    border-top: 1pt solid green;
    border-right: 1pt solid green;
    padding-left: 2pt !important;
}
.group-end-1 {
    border-bottom: 1pt solid green;
    border-right: 1pt solid green;
}
.group-part {
    border-right: 1pt solid green;
}
.group-start-2 {
    border-left: 1pt solid red;
    border-top: 1pt solid red;
    border-right: 1pt solid green;
    padding-left: 2pt !important;
}
.group-end-2 {
    border-bottom: 1pt solid red;
    border-right: 1pt solid green;
}
.group-start-3 {
    border-left: 1pt solid blue;
    border-top: 1pt solid blue;
    border-right: 1pt solid green;
    padding-left: 2pt !important;
}
.group-end-3 {
    border-bottom: 1pt solid blue;
    border-right: 1pt solid green;
}
@media print {
    .print-only {
        display: inherit;
    }
    .screen-only {
        display: none;
    }
}
@media screen {
    .print-only {
        display: none;
    }
    .screen-only {
        display: inherit;
    }
}